.gitmodules
db.sqlite3
etabotapp/static/ng2_app/.DS_Store
*.csv
*.txt
etabotsite/etabotapp/TMSlib/__pycache__/
etabotsite/etabotapp/__pycache__/
etabotsite/etabotapp/migrations/__pycache__/
etabotsite/etabotapp/passwords/__pycache__/
etabotsite/etabotsite/__pycache__/
etabotsite/etabotapp/misc_utils/__pycache__/
etabotsite/sys_email_settings.json
etabotsite/django_keys_prod.json
etabotsite/custom_settings.json
# pycharm
.idea/
*.diff
*.bk
