{% autoescape off %}
<h1 id="entity-report-{{basic_report.entity_uuid}}-{{basic_report.project}}" align="center">
  {% if basic_report.entity_avatars_urls.48x48 %}
    <img src="{{ basic_report.entity_avatars_urls.48x48 }}" width="48" height="48">
  {% endif %}
  {{ basic_report.entity_display_name }} <> project {{ basic_report.project|default:"Project name not found" }}.</h1>

{% if basic_report.aux.active_team_members|length > 0 %}
  <table align="center">
    <tr><td></td><td><h2>Active members</h2></td></tr>
    {% for active_member in basic_report.aux.active_team_members %}
        <tr>
          <td><a href="#entity-report-{{active_member.uuid}}-{{basic_report.project}}">
            <img src="{{ active_member.avatars_urls.48x48 }}" width="48" height="48"></a></td>
          <td><a href="#entity-report-{{active_member.uuid}}-{{basic_report.project}}">
            {{ active_member.display_name }}</a></td>
        </tr>
    {% endfor %}
  </table>

  {% else %}
  {% endif %}


  {% if basic_report.velocity_report.summary %}
    <br>
      <center><h2>{{ basic_report.velocity_report.summary }}</h2></center>
    <br>
  {% else %}
    <center>"Hmmm... Could not fetch velocity report</center>
  {% endif %}
    <center>{{ basic_report.due_dates_stats.summary_table }}</center>


    <br>
    {% if basic_report.due_dates_stats.tasks.overdue|length > 0 %}
        <table align="center">
          <tr><td><span style="background-color:#e9a2ad">The following tasks are overdue </span></td></tr>
          <tr><td>consider renegotiating due date to the suggested ETA.</td></tr>
          <tr><td></td></tr>
              {% for p in basic_report.due_dates_stats.tasks.overdue %}
              <tr><td align="left">
                {{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}
              </td></tr>
              {% endfor %}

          </table>

    {% endif %}

    {% if basic_report.due_dates_stats.tasks.off_track|length > 0 %}
      <table align="center">
        <tr><td><span style="background-color:#f3c19d">The following tasks are off track (even optimistically)</span></td></tr>
        <tr><td></td></tr>
        <tr><td>consider reprioritizing, descoping, renegotiating due date.</td></tr>
          {% for p in basic_report.due_dates_stats.tasks.off_track %}
        <tr><td align="left">
           {{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}
        </td></tr>
          {% endfor %}
      </table>
    {% endif %}

    {% if basic_report.due_dates_stats.tasks.at_risk|length > 0 %}
      <table align="center">
        <tr><td><span style="background-color:#fbe192">The following tasks are at risk </span> (optimistically on track, pessimistically off track)</td></tr>
        <tr><td></td></tr>
        <tr><td>consider reprioritizing, descoping, renegotiating due date or take calculated risk.</td></tr>
        <tr><td></td></tr>

        {% for p in basic_report.due_dates_stats.tasks.at_risk %}
        <tr><td align="left">
          {{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}
        </td></tr><br>
        {% endfor %}
      </table>


    {% endif %}

    {% if basic_report.due_dates_stats.tasks.on_track|length > 0 %}
      <table align="center">
        <tr><td><span style="background-color:#8dd7cf">The following tasks are on track </span></td></tr>
        <tr><td>(either there is no due date, or ETA (even pessimistic one) is before due date.</td></tr>
        <tr><td></td></tr>
      {% for p in basic_report.due_dates_stats.tasks.on_track %}
        <tr><td align="left">
          {{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}
      {% endfor %}
        </td></tr>

        </table><br>
    {% endif %}


  <br><hr>
  <center>{{ basic_report.sprint_stats.summary_table }}</center><br>
  {% if basic_report.sprint_stats.tasks.overdue|length > 0 %}
    <table align="center">
      <tr><td>The sprint is overdue and these tasks are not done yet:</td></tr>
      <tr><td></td></tr>
    {% for p in basic_report.sprint_stats.tasks.overdue %}
      <tr><td align="left">{{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}</td></tr>
    {% endfor %}
      </table><br>
  {% endif %}

  {% if basic_report.sprint_stats.tasks.at_risk|length > 0 or basic_report.sprint_stats.tasks.off_track|length > 0 %}
    <table align="center">
      <tr><td><span style="background-color:#f3c19d">The following tasks are not fitting into sprint:</span></td></tr>
    {% for p in basic_report.sprint_stats.tasks.off_track %}
      <tr><td align="left">{{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}</td></tr>
    {% endfor %}
      <tr><td></td></tr>
      <tr><td><span style="background-color:#fbe192">The following tasks are at risk of not fitting into sprint:</span></td></tr>
    {% for p in basic_report.sprint_stats.tasks.at_risk %}
      <tr><td align="left">{{p.task_line_in_html_report|default:"hmm... cannot fetch task information"}}</td></tr>
    {% endfor %}
    </table><br>
  {% endif %}

  {% if basic_report.aux.inactive_team_members|length > 0 %}
<table align="center">
  <tr><td>Inactive members:</td></tr>
  <tr><td></td></tr>
  {% for inactive_member in basic_report.aux.inactive_team_members %}
    <tr><td><img src="{{ inactive_member.avatars_urls.48x48 }}" width="48" height="48"> {{ inactive_member.display_name }}</td></tr>
  {% endfor %}
</table><br>
  {% endif %}
<hr>
{% endautoescape %}