{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to ETAbot!</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="{% static 'ng2_app/assets/ETAbot-150x150.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> -->
  <link type="text/css" rel="stylesheet" href="{% static 'ng2_app/assets/RobotoFont.css' %}">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link type="text/css" rel="stylesheet" href="{% static 'ng2_app/assets/MaterialIcons.css' %}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Julius+Sans+One&amp;subset=latin-ext" rel="stylesheet">   -->
  <link type="text/css" rel="stylesheet" href="{% static 'ng2_app/assets/JosefinJulius.css' %}">  
  
  
  <link type="text/css" rel="stylesheet prefetch" href="{% static 'ng2_app/assets/materialize.css' %}"> 
  <!-- <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css'>   -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'GPZHX';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130006699-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130006699-1');
</script>
    <script>
        (function(apiKey) {
            (function(p, e, n, d, o) {
                var v, w, x, y, z;
                o = p[d] = p[d] || {};
                o._q = [];
                v = ['initialize', 'identify', 'updateOptions', 'pageLoad'];
                for (w = 0, x = v.length; w < x; ++w)(function(m) {
                    o[m] = o[m] || function() {
                        o._q[m === v[0] ? 'unshift' : 'push']([m].concat([].slice.call(arguments, 0)));
                    };
                })(v[w]);
                y = e.createElement(n);
                y.async = !0;
                y.src = 'https://cdn.pendo.io/agent/static/' + apiKey + '/pendo.js';
                z = e.getElementsByTagName(n)[0];
                z.parentNode.insertBefore(y, z);
            })(window, document, 'script', 'pendo');
        })('6be035c3-17cc-4a3e-58ba-ba89a7775b31'); // The Pendo API must stay here with the rest of the Pendo snippet
    </script>
<link rel="stylesheet" href="{% static 'ng2_app/styles.eabd772983396c83d7d3.css' %}"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static 'ng2_app/runtime.a5dd35324ddfd942bef1.js' %}"></script><script type="text/javascript" src="{% static 'ng2_app/polyfills.45554438a059f3b9f290.js' %}"></script><script type="text/javascript" src="{% static 'ng2_app/main.6cd3cfc1ea02a1762e21.js' %}"></script></body>
</html>
